.address__first{
    width: 50%;
    padding-right: 15px;
    margin-bottom: 8px;
}

.address__last{
    width: 50%;
    margin-bottom: 8px;
}

.field-section__content{
    display: flex;
    flex-wrap: wrap;
}

.address__address{
    width: 66.9%;
    margin-bottom: 8px;
}

.address__address2{
    width: 33%;
    margin-bottom: 8px;
    padding-left: 15px;
}

.address__city{
    padding-right: 15px;
    width: 50%;
    margin-bottom: 8px;
}

.address__phone, .address__company{
    width: 100%;
    margin-bottom: 8px;
}

.address__country{
    flex: 1;
    width: 50%;
}

.address__province{
    width: 50%;
    padding-right: 15px;
}

.address__postal_code{
    width: 50%;
}

.address__hidden{
    display: none;
}

.address .stx-select, .stx-select__select-element{
    border-radius: 4px;
}

@media only screen and (max-width: 1200px) and (min-width: 768px){

     .address__address, .address__address2{
        width: 100%;
        padding-left: 0px;
        margin-bottom: 8px;
        flex:auto;
    }

    .address__country ,.address__province{
        width: 50%;
        flex:auto;
    }

    .address__postal_code{
        width: 50%;
        padding-left: 0px;
    }

    .address__province{
        padding-left: 0px;
    }

}

@media only screen and (max-width: 767px){

    .address__first, .address__last{
        width: 100%;
        padding-right: 0px;
        margin-bottom: 8px;
    }

    .address__postal_code, .address__address, .address__address2{
        width: 100%;
        padding-left: 0px;
        margin-bottom: 8px;
        flex:auto;
    }

    .address__country ,.address__province, .address__city{
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        flex:auto;
    }
}
