body .dp-col-header {
    color: #999;
    font-weight: 900;
}

body .dp-cal-footer {
    display: none;
}

body .dp:before {
    background: #f5f5f5;
}

body .dp-day {
    height: 40px;
}

body .dp-cal-month, .dp-cal-year, .dp-month {
    height: 50px;
    width: 100px;
}

body .dp-year {
    height: 40px;
}

body .dp-close:active,
body .dp-clear:active,
body .dp-today:active,
body .dp-next:active,
body .dp-prev:active,
body .dp-cal-month:active,
body .dp-cal-year:active {
    background: #2283C8;
}

@media screen and (min-device-width: 1200px) {
    body .dp-close:hover,
    body .dp-close:focus,
    body .dp-clear:hover,
    body .dp-clear:focus,
    body .dp-today:hover,
    body .dp-today:focus,
    body .dp-next:hover,
    body .dp-next:focus,
    body .dp-prev:hover,
    body .dp-prev:focus,
    body .dp-cal-month:focus,
    body .dp-cal-month:hover,
    body .dp-cal-year:hover,
    body .dp-cal-year:focus {
        background: #2283C8;
    }
}

body .dp-day:hover,
body .dp-month:hover,
body .dp-year:hover,
body .dp-current:focus,
body .dp-current,
body .dp-day:focus,
body .dp-month:focus,
body .dp-year:focus {
    outline: none;
    background: #2283C8;
    color: white;
}

body .dp-selected:hover,
body .dp-selected:focus,
body .dp-selected {
    background: #0A75C2;
}

body .dp-day-today:after {
    border: 7px solid #0F67A8;
    content: '';
    height: 0;
    width: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
}

.date-picker-icon {
    background: transparent url(https://static.boldcommerce.com/images/checkout/experience/calendar.svg) no-repeat center center;
    padding: 8px;
    background-size: 18px;
}

.date-picker-input .input-field .stx-input__prefix {
    margin-top: 0;
}
