.lds-ring {
    padding: 10px;
    position: relative;
    margin: 0 auto;
}

.lds-ring div {
    display: inline-block;
    position: relative;
    width: 25px;
    height: 25px;
    margin: 0 auto;
    border: 3px solid transparent;
    border-top-color: #b9b9b9;
    border-radius: 50%;
    animation: bv-spin 0.4s linear infinite;
    vertical-align: middle;
}


