.closeable-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    border: none;
    padding: 0;
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.closeable-header__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 0;
    text-transform: unset;
    letter-spacing: unset;
}

.closeable-header__button {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: transparent 1px solid;
    border-radius: 6px;
    padding: 0;
    margin-right: 4px; /* matches outline width on focus state */
    background:
        linear-gradient(
            45deg,
            transparent  0%,
            transparent 43%,
            #000 45%,
            #000 55%,
            transparent 57%,
            transparent 100%
        ),
        linear-gradient(
            135deg,
            transparent 0%,
            transparent 43%,
            #000 45%,
            #000 55%,
            transparent 57%,
            transparent 100%
        );
}

.closeable-header__button:hover {
    cursor: pointer;
    outline: 4px solid #E2E2E2;
}

.closeable-header__button:focus {
    outline: 4px solid #C0E7FE;
}
