.session-expired {
    text-align: left;
    width: 700px;
    height: auto;
    padding: 4rem 100px 0 30px;
    display: flex;
    flex-direction: column;
    order: 2;
    background-color: #FFFFFF;
}

.session-expired main {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1200px) and (min-width: 768px) {
    .session-expired {
        width: 468px;
        padding: 16px 32px 0 32px;
    }
}

@media only screen and (max-width: 768px) {
    .session-expired {
        width: auto;
        padding: 16px 32px;
    }
}
