
@media only screen and (min-width: 1280px) {
    .Breadcrumb {
        display: flex;
        flex-direction: row;
        left: 6.64%;
        right: 57.97%;
        top: 6.56%;
        bottom: 92.27%;
        padding: 10px 0px;
    }
}

@media only screen and (max-width: 1279px) {
    .Breadcrumb {
        display: none;
    }
}

.Breadcrumb__Item{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #878787;
}

.Breadcrumb__Item--active{
    font-weight: 500;
    color: #000000;
}

.Breadcrumb__Item--completed{
    color: #2A9DCC;
}

.Breadcrumb__Item--next {
    font-weight: 700;
}

.Breadcrumb_Item_Divider {
    background:transparent url('https://static.boldcommerce.com/images/checkout/experience/chevron_right.svg') no-repeat right center;
    margin-left: 4px;
    margin-right: 7px;
}
