.dp-col-header {
    color: #999;
    font-weight: 900;
}

.dp-clear, .dp-close, .dp-today {
    display: none;
}

.dp:before {
    background: #f5f5f5;
}

.dp-day {
    height: 40px;
}

.dp-cal-month, .dp-cal-year, .dp-month {
    height: 50px;
    width: 100px;
}

.dp-year {
    height: 40px;
}

.dp-close:active,
.dp-clear:active,
.dp-today:active,
.dp-next:active,
.dp-prev:active,
.dp-cal-month:active,
.dp-cal-year:active {
    background: #2283C8;
}

@media screen and (min-device-width: 1200px) {
    .dp-close:hover,
    .dp-close:focus,
    .dp-clear:hover,
    .dp-clear:focus,
    .dp-today:hover,
    .dp-today:focus,
    .dp-next:hover,
    .dp-next:focus,
    .dp-prev:hover,
    .dp-prev:focus,
    .dp-cal-month:focus,
    .dp-cal-month:hover,
    .dp-cal-year:hover,
    .dp-cal-year:focus {
        background: #2283C8;
    }
}

.dp-day:hover,
.dp-month:hover,
.dp-year:hover,
.dp-current:focus,
.dp-current,
.dp-day:focus,
.dp-month:focus,
.dp-year:focus {
    outline: none;
    background: #2283C8;
    color: white;
}

.dp-selected:hover,
.dp-selected:focus,
.dp-selected {
    background: #0A75C2;
}

.dp-day-today:after {
    border: 7px solid #0F67A8;
    content: '';
    height: 0;
    width: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
}
