*, :before, :after {
    box-sizing: border-box;
}

html, body {
    font-size: 14px;
    overflow-x: hidden;
    height: 100%;
}

body {
    font-family: "SF Pro Display", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    color: #1a1a1a;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 0.5em 0;
}

ul, ol {
    margin: 0.5em 0;
}

a {
    text-decoration: none;
    color: #0A75C2;
    transition: color 0.2s ease-in-out;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    outline: 2px solid #2283C8;
    border-radius: 1px;
}

a:active {
    color: #0F67A8;
    text-decoration: underline;
}

.checkout-experience-container {
    display: flex;
}

html.loading {
    overflow: hidden;
    height:100%;
}

#main, .App {
    height: 100%
}

.hidden {
    display: none;
}

.three-page{
    display: flex;
}

.stx-button__spinner{
    top: auto;
    left: auto;
    margin-top: auto;
    margin-left: auto;
}

select {
    -webkit-appearance: none;
    font-size:14px;
}

.footer--button-container .btn-checkout, .thank-you-contact-button-container .btn-checkout{
    background: #0A75C2;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px #e6e6e6;
    border-radius: 4px;
    color: white;
    text-transform: none;
    margin: 0;
}

.tax-exempt__message .stx-message--with-info {
    border-color: #0A75C2;
    background: #F2F6FF;
    border-radius: 5px;
}

@media only screen and (min-width: 1200px) {
    .checkout-experience-container, .three-page {
        flex-wrap: wrap;
        width: 1200px;
        min-height: 100vh;
        margin: 0 auto;
        position: relative;
        min-height: 100vh;
    }

    .no-summary {
        width: auto;
    }

    .website__title {
        display: none;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 768px) {
    .checkout-experience-container, .three-page {
        position: relative;
        margin: auto;
        width: 768px;
        min-height: 100vh;
    }

    .no-summary {
        width: auto;
    }

    .block__website-title {
        width: auto;
        margin: 16px 32px 12px;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
    }
}

@media only screen and (max-width: 767px) {
    .checkout-experience-container, .three-page {
        position: relative;
        margin: auto;
        width: 100%;
        flex-direction: column;
        min-height: 100vh;
    }

    .website__title {
        width: auto;
        margin: 16px 32px 12px;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
    }

    .footer--button-container .btn-checkout, .thank-you-contact-button-container .btn-checkout{
        width: 100%;
    }
}

button:hover {
    background-color: #2283C8;
    border: 4px solid #E2E2E2;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

button:focus {
    background-color: #0A75C2;
    border: 4px solid #C0E7FE;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

button:active {
    background-color: #0F67A8;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

button.taxes-amount__arrow:focus,
button.taxes-amount__arrow:hover,
button.taxes-amount__arrow:active {
    background-color: inherit;
    outline: none;
}

.a11y-screen-reader-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
