.footer__rights-container {
    display: contents;
    width: 100%;
    color: #999999;
}

.footer__rights {
    order: 9999;
    padding: 32px 0;
    font-size: 12px;
    line-height: 16px;
}

.footer__rights--border-bottom {
    border-top: 1px solid #E6E6E6;
}
